// Typography
* {
  font-family: Arial;
}

.text {
  &-white {
    color: $white;
  }

  &-grey {
    color: $grey;
  }
  
  &-large {
    font-size: 2rem;
  }
  &-small {
    font-size: 0.825rem;
  }
  &-tiny {
    font-size: 0.6rem;
  }

  &-center {
    text-align: center;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-light {
    font-weight: 100;
  }
  &-heavy {
    font-weight: 800;
  }
}

h1 {
  @extend .text-large;
}